.git
.gitignore
.dockerignore

LICENSE
*.md
!docker/**/*.md
ARTICLE*
TODO.md

.mount_projects/
Dispatcher-master/
docs/
helm/
openstack/
/tools/

docker/tests/
docker/pyproject.toml
container_controller/tests/
task_monitor/tests/
task_monitor/pyproject.toml
container_controller/controller/__pycache__/
task_monitor/monitor/__pycache__/

**/__pycache__
**/*.py[codz]
**/*$py.class
**/*.egg-info/
**/*.egg
**/*.so
.eggs/
build/
dist/
wheels/
*.manifest
*.spec

.venv/
venv/
env/
.env
.envrc
.Python

.pytest_cache/
.hypothesis/
.tox/
.nox/
htmlcov/
.coverage
.coverage.*
coverage.xml
nosetests.xml
*.cover

.ruff_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/

.vscode/
.idea/
*.swp
*.swo
*~
.cursorignore
.cursorindexingignore

.DS_Store
Thumbs.db
*.log